*{
    font-family: arial;
    color:black;
    font-size: 1em;
}

.font-1-5{
    font-size: 1.5em;
    color: red;
}
.font-2-0{
    font-size: 2.0em;
    color:blue;
    
}
.font-2-5{
    font-size: 2.5em;
    color: green;
    
}

.img2{
    background: url('../img/img2.gif') center center no-repeat;
    background-position: fixed;
    background-size: 100%;
    background-attachment: fixed;
}